@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@Model.Team</h2>
</div>
<table class="table">


    <thead>
        <tr>
            <th>First Name</th>
            <th>Middle Init</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
        </tr>
    </thead>
    @foreach (var x in Model.Bowlers)
    {



        <tr>
            <td>@x.BowlerFirstName</td>
            <td>@x.BowlerMiddleInit</td>
            <td>@x.BowlerLastName</td>
            <td>@x.BowlerAddress</td>
            <td>@x.BowlerCity</td>
            <td>@x.BowlerState</td>
            <td>@x.BowlerZip</td>
        </tr>


    }
</table>
    <div page-info="@Model.pageNumbering" page-url-teamName="@Model.Team">

    </div>